

    <div class="row">
      <div  class="col-sm-8">
        <p><small>@ Copyright 2018 DARTexon. All marks used on this site are the property of their respective owners.</small></p>
      </div>
      <div  class="col-sm-4">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <small>Privacy Policy</small>&nbsp;&nbsp;
          </li>
          <li class="nav-item">
            <small>Terms of Use</small>
          </li>
        </ul>
      </div>
    </div>



