
<div class="row no-margins">
  <div class="col-sm-12">
    <img class="img-fluid" src="assets/images/pgBanners/yolo.jpg"/>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="pgTitle"><span class="titleLine orange"></span>Object Identification</h5>
  </div>
  <div class="col-sm-12">
    <h6 class="pgHeader">Real time object detection made easy.</h6>
  </div>
</div>

<div class="row topBigMargin justify-content-md-center">
  <div class="col text-center">
    <video class="embed-responsive" width="640" height="480" controls autoplay loop>
      <source src="assets/videos/video.mp4" type="video/mp4">
      <source src="assets/videos/video.ogv" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
